.controls-display {
  width: 150px;
  padding: 5px;
  background-color: orange;
  text-align: center;
  border-radius: 5px;
  .controls-display-text {
    font-size: 14px;
    color: darkblue;
    font-weight: bold;
  }
}